.footer_container
{
  color:white;
  background-color:#3B455A;
  display: flex;
  gap:10px;
  width: 100%;
  height: 150px;
  border: #1a1a1a;
  padding-left:50px;
  padding-top:30px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.column_container
{
  display: flex;
  justify-content: space-evenly; /* Distribute items evenly */
  align-items: center; /* Align items vertically (optional) */
  align-items: flex-start; /* Align columns to the top (optional) */
  flex: 1; /* Ensure it takes full width of the parent */
}
.logo_container 
{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  
}
.icons_container{
  display:flex;
  flex-direction: column;
 }
 .social_media_icon
 {
  display: flex;
  gap:15px;
 margin: 20px;

 }
